[workspace]
members = ["crates/*"]
resolver = "2"

[workspace.package]
version = "0.0.1"

[workspace.dependencies]
nodrop = { path = "crates/nodrop" }

anyhow = { version = "1" }
tokio = { version = "1", features = ["full"] }
tracing = { version = "0.1", features = ["log"] }
